body {
  background-color: #040101;
}
.body-1 {
background-color: white;

}
.container {
  width: 1000px;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 50%);
  overflow: hidden;
}

.img-container {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.image-box {
  position:relative;
  width: 100%;
  flex-shrink: 0;
}

img {
  width: 100%;
  display: block;
  padding: auto;
  margin: auto;
}
.shop {
   position:absolute; 
  bottom: 20px;
  left: 50%;
  margin-left:300px;
  padding: 5px 5px 5px;
  background-color: rgb(199, 177, 54);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  
}
.shops{
  
   position:absolute; 
   bottom: 10px;
   left: 50%;
   margin-left:300px;
   padding: 5px 5px 5px;
   background-color: gold;
   color: #fff;
   border: none;
   border-radius: 20px;
   font-size: 22px;
 
}

.shop:hover {
  background-color: #737f0b;
}



@keyframes slide {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(0);
  }
  30% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(-100%);
  }
  55% {
      transform: translateX(-200%);
  }
  75% {
      transform: translateX(-200%);
  }
}

.product-container {

  background: #fff;
  padding: 80px;
 
}

.product-header {
  text-align: center;
  margin-bottom: 20px;
}

.product-header h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(17, 19, 19);
}


.product-details {
  display: flex;
  align-items: center;
}

.product-image {
  width: 35%;
  height:380px;
  border-radius: 10px;
}
.product-imag {
  width: 40%;
  height:380px;
  border-radius: 10px;
}
.product-img {
  width: 35%;
  height:380px;
  border-radius: 10px;
}
.product-info {
  text-align:center;
  width: 45%;
}

.price {
  margin-bottom: 20px;
}



.current-price {
  font-size: 25px;
  color: red;
  font-weight: bold;
}


.add-to-cart {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 16px;

}

.add-to-cart:hover {
  background-color: darkred;
}

.additional-info {
  margin-top: 30px;
}

.additional-info h2 {
  text-align:center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

table td {
  padding: 10px;
  border: 1px solid #080808;

}

.quantity-input {
  width: 80px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.Applications{
  width: 80px;
  padding: 30px 0 ;

}