.item-box {
    flex: 0 0 auto;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    min-width: 300px;
    align-items: center;
    animation: slideIn 0.5s ease-out;
    opacity: 0;
}

.item-box.animate-slide-in {
    opacity: 1;
}

.item-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.item-info {
    flex: 1;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    overflow: hidden;
}

.item-info h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-info p {
    margin: 0;
    font-size: 1.2rem;
    color: gold;
}

.quantity-btn {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1,1rem;
}

.quantity-btn:hover {
    background-color: var(--border-color);
}

.quantity-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quantity-display {
    font-size: 1rem;
    font-weight: 500;
    min-width: 20px;
    text-align: center;
}

.remove-btn {
    margin-left: auto;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background: #fee2e2;
    color: #ef4444;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}

.remove-btn:hover {
    background: #fecaca;
}
