body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('sign_in_back_ground.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset_password {
  color: rgb(107, 84, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 450px;
}


.reset_password form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
  max-width: 350px;
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 15px;
  background-color: #f1f1f1;
}

input:focus {
  border-color: #d4a017;
}

.reset_password button {
  width: 100%;
  max-width: 200px;
  height: 50px;
  background-color: #ffd700;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.reset_password button:hover {
  background-color: #a66b00;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
