:root {
  --primary-color: gold;
  --secondary-color: #000000;
  --background-color: #000000;
  --text-color: #1f2937;
  --border-color: #e5e7eb;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  padding: 2rem;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .forms-container {
      grid-template-columns: 1fr;
  }
}